html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(201, 243, 243);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

header {
    height: 12%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    /* background-color: orange; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 75%;
    display: flex;
}

.title {
    background-color: transparent;
    flex: 1 1 0;
    font-size: 4rem;
    font-family: 'Gabarito', sans-serif;
}
.log-in {
    background-color: rgb(216, 215, 215);
    font-size: 2rem;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 4px 0px gray;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;


}
#btn {
    text-decoration: none;
    color: black;
    font-family: 'Gabarito', san-serif;
}
/* MAIN CONTENT */

.main-content {
    background-color: rgb(233, 233, 233);
    /* height: calc(100vh - 12%); */
    width: 100%;

}
.add-button {
    width: 100%;
    padding-top: 25px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    text-align: center;
}
.add-book {
    font-family: 'Gabarito', sans-serif;
    font-size: 2.5rem;
    background-color: rgb(233, 233, 233);
    color: black;
    padding: 1.5rem;
    border-radius: 12px 12px;
}
.add-book:hover {
    background-color: whitesmoke;
}
.add-book > span {
    font-weight: 700;
}

/* added-books */
.added-books {
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 310px 310px;
    grid-auto-rows: 310px;
    gap: 3rem;
    margin-top: 4rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 9px 9px;

}
.card {
    background-color: azure;
    text-align: center;
    border-radius: 9px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 0px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* place-items: center; */

}
.card > div {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card p {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}
.button-group {
    min-height: 110px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button-group button {
    height: 100%;
    width: 100%;
    font-size: 2.1rem;
    border-radius: 10px 10px;
    cursor: pointer;
}
#remove {
    background-color: rgb(238, 189, 189);
    border: none;
}
#read {
    background-color: rgb(143, 242, 141);
    border: none;
}
::backdrop {
    background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
dialog {
    height: 350px;
    width: 300px;
}
dialog > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.flex-item {
    flex: 1;
    margin: 13px;
    font-size: 2.2rem;
}

#submit-button {
    border-radius: 12px 12px;
    border: none;
    cursor: pointer;
}
#submit-button:active {
    background-color: brown !important;
}